@tailwind base;
@tailwind components;
@tailwind utilities;


*::selection {
    color: antiquewhite;
    background: indigo;
  }
  
  
  body {
      @apply bg-gradient-to-b from-zinc-900 via-gray-800 to-gray-900 bg-fixed
    
    }

  .btn-yellow {
    @apply border border-yellow-500 text-base
    py-2 px-5 mt-6 rounded-md hover:bg-yellow-500 hover:text-gray-900 
    font-bold hover:shadow-lg 
    active:bg-yellow-600 focus:outline-none focus:ring focus:ring-yellow-300
 }

  .card {
    position: relative;
  }

  .card:after {  
    content: "";
    height: 70px;
    width: 1px;  
    position: absolute;  
    left: -1px;
    top: 65%;
    transition: top, opacity;
    transition-duration: 600ms;
    transition-timing-function: ease;
    background: linear-gradient(
      transparent,
      white,
      transparent
    );
    opacity: 0;
  }
  
  .card:after {  
    top: 65%;
    opacity: 0;
  }
  
  .card:hover:after {
    top: 25%;
    opacity: 1;
  }

::-webkit-scrollbar {
  width: 0.5em;
}
::-webkit-scrollbar-track {
  background: linear-gradient(169deg, #18181b, rgb(24 24 27), #111827);
  border-radius: 100vw;
  margin-block: -.5em;
 
}
::-webkit-scrollbar-thumb {
  background: linear-gradient(169deg, #6366f1, rgb(168 85 247), #ec4899);
  opacity: 0.2;
  /* background: rgb(55 65 81); */
  border-radius: 100vw;
}

